In [82]:
import pandas as pd

In [83]:
df= pd.read_csv("bikeshare_train - bikeshare_train.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [84]:
df.isna().sum()

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [85]:
#drop the 'casual' and 'registered' columns
df=df.drop(columns=['casual','registered'])

In [86]:
df['datetime']=pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

In [87]:
df['datetime']

0       2011-01-01 00:00:00
1       2011-01-01 01:00:00
2       2011-01-01 02:00:00
3       2011-01-01 03:00:00
4       2011-01-01 04:00:00
                ...
10881   2012-12-19 19:00:00
10882   2012-12-19 20:00:00
10883   2012-12-19 21:00:00
10884   2012-12-19 22:00:00
10885   2012-12-19 23:00:00
Name: datetime, Length: 10886, dtype: datetime64[ns]

In [88]:
#Transform the 'datetime' column into a datetime type and use it to create 3 new columns in the data frame containing the
df['name of month']= df['datetime'].dt.month_name()
df['day of week (name)']= df['datetime'].dt.day_name()
df['Hour'] = df['datetime'].dt.hour
#Drop the 'datetime' and 'season' columns
df=df.drop(columns=['datetime','season'])

In [89]:
temps= ['atemp','temp']
df[temps]= df[temps].apply(lambda x:(x*1.8)+32)

In [90]:
#df['atemp'].mean()
df['temp_variance']=df['temp'].apply(lambda x : "warmer" if x>(df['atemp'].mean()) else "colder" )
df=df.drop(columns="atemp")

In [91]:
df.head()

,holiday,workingday,weather,temp,humidity,windspeed,count,name of month,day of week (name),Hour,temp_variance
0,0,0,1,49.712,81,0.0,16,January,Saturday,0,colder
1,0,0,1,48.236,80,0.0,40,January,Saturday,1,colder
2,0,0,1,48.236,80,0.0,32,January,Saturday,2,colder
3,0,0,1,49.712,75,0.0,13,January,Saturday,3,colder
4,0,0,1,49.712,75,0.0,1,January,Saturday,4,colder